html
	-webkit-box-sizing border-box
	box-sizing border-box

*,
*::after,
*::before
	-webkit-box-sizing inherit
	box-sizing inherit


body,
html
	width: 100%

h1,
h2,
h3,
h4,
ul,
li,
img,
a,
p,
button
	margin: 0
	padding: 0

a
	text-decoration: none

.ovh
	overflow: hidden
	position: fixed


.developers
	position: relative

	text-align: left

	align-self: flex-end

	&__href
		position: relative

		display: inline-block

		transition: color 0.5s
		text-decoration: none
		letter-spacing: 1.6px
		text-transform: uppercase

		color: #111

		font-family: Verdana, Geneva, sans-serif
		font-size: 9px
		line-height: 14px

		&:hover
			.developers__dextra
				background-color: #111

	&__dextra
		font-family: Arial, Helvetica, sans-serif
		font-size: 12px
		font-weight: 900
		line-height: 21px
		position: absolute
		top: 50%

		color: white
		border-radius: 3px
		background-color: #111
		left: -10%
		padding-right: 6px
		padding-left: 6px
		transition: background-color 0.4s
		transform: translate(-100%, -50%)

@media only screen and (max-width: 900px)
	.developers
		align-self: flex-start
		&__href
			padding-left: 85px
		&__dextra
			left: 0

			transform: translate(0, -50%);
