mixin head
	head&attributes(attributes)
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name="cmsmagazine" content="6a5de8b480a9f417d465ec3935efb0fd")
		title Votex
		link(rel="stylesheet", href="./static/css/styles.css")
		link(rel="icon", type="image/x-icon", href="./static/i/favicon.ico")
		link(rel="shortcut icon", type="image/ico", href="./static/i/favicon.ico")
